* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 201, 201);
}

.navbar {
  height: 60px;
  background-color: rgb(14, 138, 183);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.brand-name {
  justify-self: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.container {
  width: 100%; /* Ensures the container takes full width by default */
  margin-right: auto; /* Centers the container horizontally */
  margin-left: auto; /* Centers the container horizontally */
  padding-right: 1rem; /* Default horizontal padding */
  padding-left: 1rem; /* Default horizontal padding */
}

/* Breakpoint-specific max-width properties */
@media (min-width: 640px) {
  .container {
    max-width: 640px; /* For 'sm' screens */
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px; /* For 'md' screens */
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* For 'lg' screens */
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* For 'xl' screens */
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px; /* For '2xl' screens */
  }
}
#upload-file-container {
  border: dashed;
  border-color: rgb(14, 138, 183);
  border-width: 5px;
  border-radius: 5%;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 12px;
}

.button {
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.25s ease;
}

.button:hover {
  opacity: 0.7;
}

.buttons-group {
  display: flex;
  margin-top: 20px;
  padding-left: 5px;
  gap: 10px;
}

#upload-button {
  background-color: rgb(14, 138, 183);
  color: white;
}

#image-preview {
  object-fit: contain;
}
