* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
}
.container {
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-file-container {
  border: dashed;
  border-color: antiquewhite;
  border-width: 5px;
  border-radius: 5%;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
