* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 40px;
  background-color: rgb(14, 138, 183);
  display: flex;
  align-items: center;
  color: white;
  font-size: larger;
}
.container {
  width: 100%; /* Ensures the container takes full width by default */
  margin-right: auto; /* Centers the container horizontally */
  margin-left: auto; /* Centers the container horizontally */
  padding-right: 1rem; /* Default horizontal padding */
  padding-left: 1rem; /* Default horizontal padding */
}

/* Breakpoint-specific max-width properties */
@media (min-width: 640px) {
  .container {
    max-width: 640px; /* For 'sm' screens */
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px; /* For 'md' screens */
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* For 'lg' screens */
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* For 'xl' screens */
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px; /* For '2xl' screens */
  }
}
#upload-file-container {
  border: dashed;
  border-color: antiquewhite;
  border-width: 5px;
  border-radius: 5%;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
