* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
}
.container {
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-file {
  visibility: ;
  height: 100%;
  width: 100%;
}
